* {
    font-family: monaco, Consolas, Lucida Console, monospace;
    background-color: black;
    color: white;
}

#hlnadpis {
    background-color: black;
    color: white;
    padding: 1%;
    border: white 3px solid;
}

.topnav {
    background-color: #000000;
    overflow: hidden;
    border: white 3px solid;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: white; /*#aa0404*/
    color: black; /*white*/
}

#border {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    padding: 1%;
    border: white 3px solid;
    color: white;

}

#border img {
    object-fit: cover;
    width: auto;
    height: 255px;
    margin-right: 10px;
}

footer {
    margin-top: 1%;
    padding-left: 1%;
    border: white 3px solid;
}

